@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  margin: 0;
  padding: 0;
}
section {
  padding: 0 30px;
}
/* Hero section css start */
.hero-section {
  background-color: black;
  color: white;
  max-width: 1200px;
  margin: 25px auto;
  display: flex;
  align-items: center;
  border-radius: 15px;
  font-family: "poppins";
}
.hero-text {
  width: 50%;
  /* padding: 40px; */
}
.hero-content {
  padding: 40px;
}
.hero-img {
  width: 50%;
  margin: 0 auto;
  padding-top: 60px;
  align-self: end;
}
.hero-img img {
  margin-bottom: -7px;
  width: 100%;
}
.hero-content h1 {
  font-size: 50px;
  margin: 0;
  padding: 0;
}
.hero-content p {
  padding-bottom: 20px;
}
.hero-content a {
  text-decoration: none;
  color: white;
  background: red;
  padding: 10px;
  border-radius: 10px;
}
/* Hero section css start */

/* Info section css start */
.info-section {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.btn-link {
  min-width: 260px;
  display: flex;
  flex-direction: column;
  background-color: black;
  height: fit-content;
  padding: 20px;
  margin-right: 10px;
  border-radius: 10px;
  text-align: center;
}
.btn-link a {
  padding: 15px;
  background: white;
  margin: 6px 0;
  text-decoration: none;
  color: black;
  border-radius: 10px;
}
.active {
  background: red !important;
  color: white !important;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.card {
  /* max-width: 290px; */
  border: 1px solid rgba(128, 128, 128, 0.267);
  border-radius: 10px;
}
.card .blog-img {
  width: 100%;
}
.card .blog-content {
  padding: 10px;
}
.blog-content button {
  background: white;
  padding: 5px 10px;
  border: 1px solid rgba(128, 128, 128, 0.267);
  border-radius: 5px;
}
.blog-content p {
  font-weight: bold;
}
.blog-footer {
  display: flex;
}
.blog-footer img {
  margin-right: 5px;
}
.blog-footer span {
  margin-right: 10px;
}
#view-all-btn {
  display: none;
}
.card-flag {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
  padding: 0 20px;
}
.card-flag img {
  width: 100%;
}
.card-flag span {
  padding: 4px;
}
.match-info {
  text-align: center;
}
.match-info p {
  font-size: small;
}
/* Info section css end */

/* Footer section css start */
footer {
  background: black;
  color: white;
  padding: 50px;
  text-align: center;
  margin-top: 100px;
}
footer hr {
  max-width: 1200px;
}
footer h1 {
  font-size: 50px;
}
.footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.footer-link a {
  text-decoration: none;
  color: white;
  padding: 15px;
}
/* Footer section css end */

@media screen and (max-width: 679px) {
  /* Hero section css start  */
  section .hero-section {
    flex-direction: column;
  }
  .hero-text {
    width: 100%;
  }
  .hero-content h1 {
    font-size: 25px;
  }
  .hero-content p,
  .hero-content a {
    font-size: small;
  }
  .hero-img {
    width: 100%;
  }
  /* Hero section css end */
  /* Info section css start */
  .info-section {
    flex-direction: column;
  }
  .btn-link {
    padding: 20px;
    margin-bottom: 20px;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  /* Info section css end */
}

@media screen and (min-width: 680px) and (max-width: 1023px) {
  /* Hero section css start  */
  .hero-content h1 {
    font-size: 30px;
  }
  .hero-content p,
  .hero-content a {
    font-size: small;
  }
  /* Hero section css end */
  /* Info section css start */
  .info-section {
    flex-direction: column;
  }
  .btn-link {
    flex-direction: row;
    justify-content: space-between;
    background: white;
    padding: 20px 0;
  }
  .btn-link a {
    border: 1px solid rgba(128, 128, 128, 0.267);
    border-radius: 10px;
    min-width: 170px;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .view-all {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px auto;
    margin: 30px auto;
  }
  #view-all-btn {
    display: block;
    padding: 10px 20px;
    text-align: center;
    background: red;
    color: white;
    border: 1px solid red;
    border-radius: 5px;
  }
  /* Info section css end */
}

@media screen and (min-width: 1024px) {
}
